@font-face {
  font-family: Segoe;
  src: url(../fonts/Segoe.ttf);
}

/* line 69, ../sass/global.sass */
.z-1 {
  z-index: 1;
}

/* line 69, ../sass/global.sass */
.z-2 {
  z-index: 2;
}

/* line 69, ../sass/global.sass */
.z-3 {
  z-index: 3;
}

/* line 69, ../sass/global.sass */
.z-4 {
  z-index: 4;
}

/* line 69, ../sass/global.sass */
.z-5 {
  z-index: 5;
}

/* line 69, ../sass/global.sass */
.z-6 {
  z-index: 6;
}

/* line 69, ../sass/global.sass */
.z-7 {
  z-index: 7;
}

/* line 69, ../sass/global.sass */
.z-8 {
  z-index: 8;
}

/* line 69, ../sass/global.sass */
.z-9 {
  z-index: 9;
}

/* line 69, ../sass/global.sass */
.z-10 {
  z-index: 10;
}

/* line 69, ../sass/global.sass */
.z-11 {
  z-index: 11;
}

/* line 69, ../sass/global.sass */
.z-12 {
  z-index: 12;
}

/* line 69, ../sass/global.sass */
.z-13 {
  z-index: 13;
}

/* line 69, ../sass/global.sass */
.z-14 {
  z-index: 14;
}

/* line 69, ../sass/global.sass */
.z-15 {
  z-index: 15;
}

/* line 69, ../sass/global.sass */
.z-16 {
  z-index: 16;
}

/* line 69, ../sass/global.sass */
.z-17 {
  z-index: 17;
}

/* line 69, ../sass/global.sass */
.z-18 {
  z-index: 18;
}

/* line 69, ../sass/global.sass */
.z-19 {
  z-index: 19;
}

/* line 69, ../sass/global.sass */
.z-20 {
  z-index: 20;
}

/* line 72, ../sass/global.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 80, ../sass/global.sass */
.next-button, .start-button, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 94, ../sass/global.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 98, ../sass/global.sass */
.absolute-max, #main, .frame, #frame-000 .eyes, #frame-101 .girl-mouth, #frame-101 .eyes, #frame-102 .boy-mouth, #frame-102 .eyes, #frame-103 .boy-mouth, #frame-103 .eyes, #frame-104 .girl-mouth, #frame-104 .girl-mouth-idle, #frame-104 .eyes, #frame-105 .girl-mouth, #frame-105 .girl-mouth-idle, #frame-105 .eyes, #frame-106 .girl-mouth, #frame-106 .girl-mouth-idle, #frame-106 .eyes, #frame-107 .girl-mouth, #frame-107 .girl-mouth-idle, #frame-107 .eyes, #frame-107 .video-container, #frame-108 .girl-mouth, #frame-108 .boy-mouth, #frame-108 .girl-mouth-idle, #frame-108 .eyes, #frame-109 .boy-mouth, #frame-109 .eyes, #frame-109 .vocabulary, #frame-111 .girl-mouth, #frame-111 .boy-mouth, #frame-111 .girl-mouth-idle, #frame-111 .eyes, #frame-112 .girl-mouth, #frame-112 .girl-mouth-idle, #frame-112 .eyes, #frame-112 .video-container, #frame-114 .eyes, #frame-114 .mouths {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 105, ../sass/global.sass */
.absolute, #frame-000 .button, #frame-102 .bg-base, #frame-103 .bg-base, #frame-104 .bg-base, #frame-104 .demo-pic, #frame-105 .bg-base, #frame-105 .demo-pic, #frame-106 .bg-base, #frame-106 .demo-pic, #frame-107 .bg-base, #frame-107 .demo-pic, #frame-108 .bg-base, #frame-108 .demo-pic, #frame-109 .bg-base, #frame-111 .bg-base, #frame-111 .demo-pic, #frame-112 .bg-base, #frame-114 .bg-base, .task.frame .next {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 110, ../sass/global.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 117, ../sass/global.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 124, ../sass/global.sass */
* {
  font-family: Segoe;
}

/* line 129, ../sass/global.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*PRE LOAD */
/* line 134, ../sass/global.sass */
#pre-load {
  background-color: gainsboro;
}

/* line 137, ../sass/global.sass */
#pre-load .pre-load-image {
  background-image: url(../pics/pre-loader.png);
  background-size: auto 100%;
  background-position: 0% 0%;
  width: 0%;
  height: 100%;
  position: absolute;
}

/*GLOBAL AND MENU */
/* line 147, ../sass/global.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 50px;
}

/* line 161, ../sass/global.sass */
.frame {
  background-size: 100% 100%;
  overflow: hidden;
}

/*FRAME 000 */
/* line 168, ../sass/global.sass */
#frame-000 {
  background-image: url(../pics/main-pics-sprite.jpg);
  background-size: auto 100%;
  background-position: 100% 0%;
}

/* line 173, ../sass/global.sass */
#frame-000 .button {
  font-size: 40%;
  font-family: Segoe;
  color: white;
  cursor: pointer;
  z-index: 3;
}

/* line 181, ../sass/global.sass */
#frame-000 .button:hover {
  text-shadow: 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white, 0 0 5px white;
  color: black;
}

/* line 185, ../sass/global.sass */
#frame-000 .der-button {
  left: 8.5%;
  top: 35.6%;
  width: 16.8%;
  height: 14.4%;
}

/* line 188, ../sass/global.sass */
#frame-000 .facts-button {
  left: 3.2%;
  top: 56.6%;
  width: 16.8%;
  height: 15.8%;
}

/* line 191, ../sass/global.sass */
#frame-000 .lab-button {
  left: 70.2%;
  top: 47.8%;
  width: 17.8%;
  height: 16%;
}

/* line 194, ../sass/global.sass */
#frame-000 .eyes {
  background-image: url(../pics/s0-eyes.gif);
  z-index: 2;
}

/*FRAME 101 */
/* line 201, ../sass/global.sass */
#frame-101 {
  background-image: url(../pics/main-pics-sprite.jpg);
  background-size: auto 100%;
  background-position: 0% 0%;
}

/* line 206, ../sass/global.sass */
#frame-101 .girl-mouth {
  background-image: url(../pics/s1-girl-mouth.gif);
}

/* line 210, ../sass/global.sass */
#frame-101 .eyes {
  z-index: 3;
  background-image: url(../pics/s1-eyes.gif);
}

/*FRAME 102 */
/* line 217, ../sass/global.sass */
#frame-102 .bg-base {
  left: -100%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
}

/* line 222, ../sass/global.sass */
#frame-102 .boy-mouth {
  background-image: url(../pics/s2-boy-mouth.gif);
}

/* line 226, ../sass/global.sass */
#frame-102 .eyes {
  background-image: url(../pics/s2-eyes.gif);
  z-index: 3;
}

/*FRAME 103 */
/* line 233, ../sass/global.sass */
#frame-103 .bg-base {
  left: -200%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 239, ../sass/global.sass */
#frame-103 .boy-mouth {
  background-image: url(../pics/s3-boy-mouth.gif);
  z-index: 2;
}

/* line 244, ../sass/global.sass */
#frame-103 .eyes {
  background-image: url(../pics/s3-eyes.gif);
  z-index: 3;
}

/*FRAME 104 */
/* line 251, ../sass/global.sass */
#frame-104 .bg-base {
  left: -300%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 257, ../sass/global.sass */
#frame-104 .girl-mouth {
  background-image: url(../pics/s4-girl-mouth.gif);
  z-index: 2;
}

/* line 262, ../sass/global.sass */
#frame-104 .girl-mouth-idle {
  background-image: url(../pics/s4-girl-mouth.png);
  z-index: 2;
}

/* line 267, ../sass/global.sass */
#frame-104 .eyes {
  background-image: url(../pics/s4-eyes.gif);
  z-index: 3;
}

/* line 272, ../sass/global.sass */
#frame-104 .demo-pic {
  z-index: 4;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-color: white;
  background-position: center center;
  background-size: auto 100%;
  border: 3px solid black;
  border-radius: 15px;
}

/* line 282, ../sass/global.sass */
#frame-104 .vinegar {
  background-image: url(../pics/s4-vinegar.png);
}

/*FRAME-105 */
/* line 287, ../sass/global.sass */
#frame-105 .bg-base {
  left: -300%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 293, ../sass/global.sass */
#frame-105 .girl-mouth {
  background-image: url(../pics/s4-girl-mouth.gif);
  z-index: 2;
}

/* line 298, ../sass/global.sass */
#frame-105 .girl-mouth-idle {
  background-image: url(../pics/s4-girl-mouth.png);
  z-index: 2;
}

/* line 303, ../sass/global.sass */
#frame-105 .eyes {
  background-image: url(../pics/s4-eyes.gif);
  z-index: 3;
}

/* line 308, ../sass/global.sass */
#frame-105 .demo-pic {
  z-index: 4;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-color: white;
  background-position: center center;
  background-size: auto 100%;
  border: 3px solid black;
  border-radius: 15px;
}

/* line 318, ../sass/global.sass */
#frame-105 .cola {
  background-image: url(../pics/s5-cola.png);
}

/* line 321, ../sass/global.sass */
#frame-105 .lemon {
  background-image: url(../pics/s5-lemon.png);
}

/* line 324, ../sass/global.sass */
#frame-105 .orange {
  background-image: url(../pics/s5-orange.png);
}

/*FRAME 106 */
/* line 329, ../sass/global.sass */
#frame-106 .bg-base {
  left: -300%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 335, ../sass/global.sass */
#frame-106 .girl-mouth {
  background-image: url(../pics/s4-girl-mouth.gif);
  z-index: 2;
}

/* line 340, ../sass/global.sass */
#frame-106 .girl-mouth-idle {
  background-image: url(../pics/s4-girl-mouth.png);
  z-index: 2;
}

/* line 345, ../sass/global.sass */
#frame-106 .eyes {
  background-image: url(../pics/s4-eyes.gif);
  z-index: 3;
}

/* line 350, ../sass/global.sass */
#frame-106 .demo-pic {
  z-index: 4;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-color: white;
  background-size: 100% 100%;
  border: 3px solid black;
  border-radius: 15px;
}

/* line 359, ../sass/global.sass */
#frame-106 .ant {
  background-image: url(../pics/s6-ant.png);
}

/* line 362, ../sass/global.sass */
#frame-106 .acids {
  background-image: url(../pics/s6-acids.jpg);
  background-size: 500% 100%;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* line 367, ../sass/global.sass */
#frame-106 .burnt-hand {
  background-image: url(../pics/s6-burnt-hand.jpg);
}

/* line 370, ../sass/global.sass */
#frame-106 .caustic {
  background-image: url(../pics/s6-caustic.png);
}

/* line 373, ../sass/global.sass */
#frame-106 .cross {
  background-image: url(../pics/s6-cross.png);
}

/* line 376, ../sass/global.sass */
#frame-106 .hand-wash {
  background-image: url(../pics/s6-hand-wash.png);
  background-size: 1200% 100%;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border: none;
}

/*FRAME 107 */
/* line 385, ../sass/global.sass */
#frame-107 .bg-base {
  left: -300%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 391, ../sass/global.sass */
#frame-107 .girl-mouth {
  background-image: url(../pics/s4-girl-mouth.gif);
  z-index: 2;
}

/* line 396, ../sass/global.sass */
#frame-107 .girl-mouth-idle {
  background-image: url(../pics/s4-girl-mouth.png);
  z-index: 2;
}

/* line 401, ../sass/global.sass */
#frame-107 .eyes {
  background-image: url(../pics/s4-eyes.gif);
  z-index: 3;
}

/* line 406, ../sass/global.sass */
#frame-107 .demo-pic {
  z-index: 4;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-color: white;
  background-size: 100% 100%;
  border: 3px solid black;
  border-radius: 15px;
}

/* line 415, ../sass/global.sass */
#frame-107 .acid-plus-metal {
  background-image: url(../pics/s7-acid-plus-metal.jpg);
  background-size: 800% 100%;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border: none;
}

/* line 422, ../sass/global.sass */
#frame-107 .acid-plus-magnesium {
  background-image: url(../pics/s7-acid-plus-magnesium.jpg);
  background-size: 1000% 100%;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border: none;
}

/* line 429, ../sass/global.sass */
#frame-107 .video-container {
  background-color: black;
  z-index: 4;
}

/*FRAME 108 */
/* line 436, ../sass/global.sass */
#frame-108 .bg-base {
  left: -300%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 442, ../sass/global.sass */
#frame-108 .girl-mouth {
  background-image: url(../pics/s4-girl-mouth.gif);
  z-index: 2;
}

/* line 447, ../sass/global.sass */
#frame-108 .boy-mouth {
  background-image: url(../pics/s4-boy-mouth.gif);
  z-index: 2;
}

/* line 452, ../sass/global.sass */
#frame-108 .girl-mouth-idle {
  background-image: url(../pics/s4-girl-mouth.png);
  z-index: 2;
}

/* line 457, ../sass/global.sass */
#frame-108 .eyes {
  background-image: url(../pics/s4-eyes.gif);
  z-index: 3;
}

/* line 462, ../sass/global.sass */
#frame-108 .demo-pic {
  z-index: 4;
  left: 35%;
  top: 20%;
  width: 30%;
  height: 60%;
  background-color: white;
  background-size: 100% 100%;
  border: 3px solid black;
  border-radius: 15px;
}

/* line 471, ../sass/global.sass */
#frame-108 .active-metals-plus-acid {
  background-image: url(../pics/s8-active-metals-plus-acid.jpg);
  background-size: 900% 100%;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border: none;
}

/* line 478, ../sass/global.sass */
#frame-108 .inactive-metals-plus-acid {
  background-image: url(../pics/s8-inactive-metals-plus-acid.jpg);
  background-size: 800% 100%;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: transparent;
  border: none;
}

/*FRAME 109 */
/* line 487, ../sass/global.sass */
#frame-109 .bg-base {
  left: -500%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 493, ../sass/global.sass */
#frame-109 .boy-mouth {
  background-image: url(../pics/s9-boy-mouth.gif);
  z-index: 2;
}

/* line 498, ../sass/global.sass */
#frame-109 .eyes {
  background-image: url(../pics/s9-eyes.gif);
  z-index: 3;
}

/* line 503, ../sass/global.sass */
#frame-109 .vocabulary {
  background-image: url(../pics/s9-vocabulary.png);
  z-index: 3;
}

/*FRAME 110 */
/* line 510, ../sass/global.sass */
#frame-110 {
  background-image: url(../pics/s10-bg.png);
}

/* line 513, ../sass/global.sass */
#frame-110 .keep-thinking {
  width: 30%;
  height: 60%;
  position: absolute;
  left: 35%;
  top: 20%;
  border-radius: 50%;
  background-color: white;
  color: black;
  font-size: 30%;
  font-weight: bold;
  text-align: center;
  padding-top: 12%;
  font-family: Segoe;
  opacity: 0.7;
}

/* line 529, ../sass/global.sass */
#frame-110 .instruction, #frame-113 .instruction {
  top: 5vmin;
  position: absolute;
  padding-top: 1vmin;
  width: 100%;
  height: 6vmin;
  text-align: center;
  font-size: 30%;
  font-weight: bold;
  font-family: Segoe;
  background-color: #4ec7dd;
  color: white;
}

/* line 542, ../sass/global.sass */
#frame-110 .question-container {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 15%;
}

/* line 548, ../sass/global.sass */
#frame-110 .question-container .elem {
  height: 100%;
  width: 12%;
  float: left;
  margin-left: 2%;
  border-radius: 10vmin;
  background-position: center;
  background-size: auto 100%;
  background-repeat: none;
}

/* line 558, ../sass/global.sass */
#frame-110 .question-container .empty {
  background-color: #ffc8d5;
  border: 0.2vmin solid #6edcf1;
}

/* line 562, ../sass/global.sass */
#frame-110 .answers-container {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 55%;
  border: 0.2vmin solid lightgrey;
}

/* line 569, ../sass/global.sass */
#frame-110 .answers-container .elem {
  border: 0.2vmin solid gray;
  height: 100%;
  width: 12%;
  float: left;
  margin-left: 4%;
  border-radius: 10vmin;
  background-position: center;
  background-size: auto 100%;
}

/* line 579, ../sass/global.sass */
#frame-110 .answers-container .elem:hover {
  background-color: #1a8f4d;
}

/* line 582, ../sass/global.sass */
#frame-110 .zinc {
  background-image: url(../pics/s10-zinc.png);
}

/* line 585, ../sass/global.sass */
#frame-110 .iron {
  background-image: url(../pics/s10-iron.png);
}

/* line 588, ../sass/global.sass */
#frame-110 .aluminium {
  background-image: url(../pics/s10-aluminium.png);
}

/* line 591, ../sass/global.sass */
#frame-110 .zinc-sulphate {
  background-image: url(../pics/s10-zinc-sulphate.png);
}

/* line 594, ../sass/global.sass */
#frame-110 .hydrogen {
  background-image: url(../pics/s10-hydrogen.png);
}

/* line 597, ../sass/global.sass */
#frame-110 .sulphuric-acid {
  background-image: url(../pics/s10-sulphuric-acid.png);
}

/* line 600, ../sass/global.sass */
#frame-110 .plus-sign {
  background-image: url(../pics/s10-plus-sign.png);
}

/* line 603, ../sass/global.sass */
#frame-110 .equal-sign {
  background-image: url(../pics/s10-equal-sign.png);
}

/* line 606, ../sass/global.sass */
#frame-110 .aluminium-sulphate {
  background-image: url(../pics/s10-aluminium-sulphate.png);
}

/* line 609, ../sass/global.sass */
#frame-110 .hydrochloric-acid {
  background-image: url(../pics/s10-hydrochloric-acid.png);
}

/* line 612, ../sass/global.sass */
#frame-110 .iron-chloride {
  background-image: url(../pics/s10-iron-chloride.png);
}

/*FRAME 111 */
/* line 617, ../sass/global.sass */
#frame-111 .bg-base {
  left: -300%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 623, ../sass/global.sass */
#frame-111 .girl-mouth {
  background-image: url(../pics/s4-girl-mouth.gif);
  z-index: 2;
}

/* line 628, ../sass/global.sass */
#frame-111 .boy-mouth {
  background-image: url(../pics/s4-boy-mouth.gif);
  z-index: 2;
}

/* line 633, ../sass/global.sass */
#frame-111 .girl-mouth-idle {
  background-image: url(../pics/s4-girl-mouth.png);
  z-index: 2;
}

/* line 638, ../sass/global.sass */
#frame-111 .eyes {
  background-image: url(../pics/s4-eyes.gif);
  z-index: 3;
}

/* line 643, ../sass/global.sass */
#frame-111 .demo-pic {
  z-index: 4;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  background-color: white;
  background-size: 100% 100%;
  border: 3px solid black;
  border-radius: 15px;
}

/* line 652, ../sass/global.sass */
#frame-111 .carbonates {
  background-image: url(../pics/s11-carbonates.png);
  background-size: 1100% 100%;
}

/*FRAME 112 */
/* line 658, ../sass/global.sass */
#frame-112 .bg-base {
  left: -300%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 664, ../sass/global.sass */
#frame-112 .girl-mouth {
  background-image: url(../pics/s4-girl-mouth.gif);
  z-index: 2;
}

/* line 669, ../sass/global.sass */
#frame-112 .girl-mouth-idle {
  background-image: url(../pics/s4-girl-mouth.png);
  z-index: 2;
}

/* line 674, ../sass/global.sass */
#frame-112 .eyes {
  background-image: url(../pics/s4-eyes.gif);
  z-index: 3;
}

/* line 679, ../sass/global.sass */
#frame-112 .video-container {
  background-color: black;
  z-index: 4;
}

/*FRAME 113 */
/* line 686, ../sass/global.sass */
#frame-113 {
  background-image: url(../pics/s10-bg.png);
}

/* line 689, ../sass/global.sass */
#frame-113 .instruction {
  font-size: 30%;
}

/* line 692, ../sass/global.sass */
#frame-113 .labels {
  position: absolute;
  width: 30%;
  height: 80%;
  left: 5%;
  top: 15%;
}

/* line 699, ../sass/global.sass */
#frame-113 .labels .label {
  position: relative;
  width: 100%;
  height: 14%;
  font-family: Segoe;
  background-color: #4ec7dd;
  font-weight: bold;
  color: white;
  padding: 3%;
  border-top: 0.1vmin solid white;
}

/* line 710, ../sass/global.sass */
#frame-113 .label-1, #frame-113 .label-2, #frame-113 .label-6, #frame-113 .label-7 {
  font-size: 28%;
}

/* line 713, ../sass/global.sass */
#frame-113 .is-dragging {
  z-index: 4;
}

/* line 716, ../sass/global.sass */
#frame-113 .label-3, #frame-113 .label-4, #frame-113 .label-5 {
  font-size: 18%;
}

/* line 719, ../sass/global.sass */
#frame-113 .baskets .basket {
  position: relative;
  width: 100%;
  height: 14%;
  font-family: Segoe;
  background-color: #ffc8d5;
  font-weight: bold;
  color: white;
  padding: 3%;
  border-top: 0.1vmin solid white;
  border-left: 0.1vmin solid white;
  font-size: 30%;
}

/* line 732, ../sass/global.sass */
#frame-113 .balls .ball {
  position: relative;
  width: 100%;
  height: 14%;
  font-family: Segoe;
  background-color: #4ec7dd;
  font-weight: bold;
  color: white;
  padding: 3%;
  border-top: 0.1vmin solid white;
  border-left: 0.1vmin solid white;
  font-size: 30%;
}

/* line 745, ../sass/global.sass */
#frame-113 .baskets {
  position: absolute;
  width: 25%;
  height: 80%;
  left: 35%;
  top: 15%;
}

/* line 752, ../sass/global.sass */
#frame-113 .balls {
  position: absolute;
  width: 25%;
  height: 80%;
  left: 70%;
  top: 15%;
  cursor: pointer;
}

/*FRAME 114 */
/* line 762, ../sass/global.sass */
#frame-114 .bg-base {
  left: -600%;
  top: 0%;
  width: 800%;
  height: 100%;
  background-image: url(../pics/main-pics-sprite.jpg);
  z-index: 1;
}

/* line 768, ../sass/global.sass */
#frame-114 .eyes {
  background-image: url(../pics/s14-eyes.gif);
  z-index: 2;
}

/* line 773, ../sass/global.sass */
#frame-114 .mouths {
  background-image: url(../pics/s14-mouths.gif);
  z-index: 3;
}

/*FACTS PART */
/* line 780, ../sass/global.sass */
.fact .label {
  width: 100%;
  min-height: 8%;
  max-height: 10%;
  position: absolute;
  font-size: 30%;
  top: 15%;
  font-weight: bold;
  padding-top: 1%;
  font-family: Segoe;
  text-align: center;
  background-color: #13a9d0;
  color: white;
}

/* line 794, ../sass/global.sass */
.fact .fact-image {
  width: 30%;
  height: 60%;
  position: absolute;
  top: 30%;
  left: 15%;
  background-size: 100% 100%;
}

/* line 802, ../sass/global.sass */
.fact .fact-1-image {
  background-image: url(../pics/fact-1-image.png);
}

/* line 805, ../sass/global.sass */
.fact .fact-2-image {
  background-image: url(../pics/fact-2-image.png);
}

/* line 808, ../sass/global.sass */
.fact .fact-3-image {
  background-image: url(../pics/fact-3-image.gif);
}

/* line 811, ../sass/global.sass */
.fact .fact-4-image {
  background-image: url(../pics/fact-4-image.png);
}

/* line 814, ../sass/global.sass */
.fact .fact-5-image {
  background-image: url(../pics/fact-5-image.png);
}

/* line 817, ../sass/global.sass */
.fact .fact-text {
  width: 50%;
  height: 60%;
  text-align: justify;
  position: absolute;
  font-size: 30%;
  font-family: Verdana;
  left: 50%;
  top: 37%;
}

/* line 827, ../sass/global.sass */
.fact .next, .fact .back {
  width: 10%;
  height: 10%;
  padding-top: 1.5%;
  font-family: Segoe;
  font-weight: bold;
  font-size: 25%;
  color: white;
  border-left: 1px solid white;
  text-align: center;
  position: absolute;
}

/* line 839, ../sass/global.sass */
.fact .next {
  top: 15%;
  left: 90%;
}

/* line 843, ../sass/global.sass */
.fact .back {
  top: 15%;
  left: 80%;
}

/* line 847, ../sass/global.sass */
.fact .next:hover, .fact .back:hover {
  background-color: #f39279;
}

/*TEST PART */
/* line 852, ../sass/global.sass */
.video-container {
  width: 60%;
  height: 80%;
  left: 20%;
  top: 20%;
  position: absolute;
}

/* line 859, ../sass/global.sass */
#frame-301 .next {
  position: absolute;
  width: 60%;
  height: 10%;
  left: 20%;
  top: 92%;
  font-family: Segoe;
  font-size: 30%;
  padding-top: 0.7%;
  text-align: center;
  background-color: #77daf2;
  color: white;
  cursor: pointer;
}

/* line 873, ../sass/global.sass */
.task.frame {
  font-size: 25%;
}

/* line 876, ../sass/global.sass */
.task.frame, .result {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../pics/frame-102-bg.png);
  background-size: 100% 100%;
}

/* line 883, ../sass/global.sass */
.task.frame .question, .task.frame .label {
  width: 100%;
  min-height: 8%;
  max-height: 10%;
  position: absolute;
  top: 15%;
  font-weight: bold;
  padding-top: 1%;
  font-family: Segoe;
  text-align: center;
  background-color: #13a9d0;
  color: white;
}

/* line 896, ../sass/global.sass */
.task.frame .next {
  width: 100%;
  height: 8%;
  top: 40%;
  background-color: #ff4177;
  text-align: center;
  color: white;
  padding: 0.7%;
  font-weight: bold;
}

/* line 907, ../sass/global.sass */
.task.frame .answer {
  width: 100%;
  height: 8%;
  top: 30%;
  font-family: Segoe;
  margin-top: 1%;
  color: white;
  padding: 1%;
  text-align: center;
  position: relative;
  background-color: #ff4177;
  cursor: pointer;
}

/* line 920, ../sass/global.sass */
.task.frame .answer:hover {
  background-color: #ffc8d5;
  color: darkgrey;
}

/* line 924, ../sass/global.sass */
.task.frame .next:hover {
  background-color: black;
}
